venv/
__pycache__/
*.pyc

SQLite/*.db
SQLite/*.db-wal
SQLite/*.db-shm
SQLite/backup/

Data/raw/*.csv
Data/processed/*.csv
Data/exports/*.csv

Logs/*.log

Config/secrets.env
*.cdsapirc
.cdsapirc

.vscode/
.idea/

Data/external/
